[Unit]
Description=Python UART Kismet Service
Wants=nexmon_watchdog.service

[Service]
Type=forking
User=pi
ExecStart=/usr/bin/python3 /home/pi/software/uart_kismet.py
Restart=always

[Install]
WantedBy=multi-user.target